nav {
    background-color: rgba(230, 85, 17, 0.837);
   border-bottom: outset;
   border-radius: 5px;
    position: sticky;
    margin-bottom: 1em;
    padding-top: 1em;
    
}


img{
    border-color: black;
    border-width: 2px;
}
a {
    color: whitesmoke;
    text-decoration: none;
}
